extends layout
block content
    h1 #{title}
    ul
        each article, i in articles
            li 
                a(href="/articles/" + article.id) #{article.title}

    br
    a(href="/articles/add") Add Article